<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project_1.project.ProjectMapper">

    <update id="userLock">
        UPDATE user_project
        SET `lock`=1
        WHERE user_no=#{targetUserNo}
    </update>

    <update id="projectComplete">
        UPDATE project
        SET project_complete=1
        WHERE project_no=#{projectNo}
        AND NOT EXISTS (
        SELECT 1 FROM schedule S
        INNER JOIN user_project UP
        ON UP.user_project_no=S.user_project_no
        WHERE project_no=#{projectNo}
        AND S.checked=0)
    </update>

    <select id="checkDeadline">
        UPDATE project
        SET project_complete = 1
        WHERE deadline <![CDATA[ < ]]> CURDATE()
        AND project_complete = 0
    </select>

    <insert id="insUserProjectList">
        INSERT INTO user_project
        (user_no, project_no)
        VALUES
        <foreach collection="insertUserNoList" item="userNo" separator=",">
            (#{userNo}, #{projectNo})
        </foreach>
    </insert>

    <delete id="delUserProjectList">
        DELETE FROM user_project
        WHERE project_no = #{projectNo}
        AND user_no IN
        <foreach collection="deleteUserNoList" item="userNo" separator="," open="(" close=")">
            #{userNo}
        </foreach>
    </delete>
</mapper>