<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project_1.project.ProjectMapper">

    <update id="userLock">
        UPDATE user_project
        SET `lock`=1
        WHERE user_no=#{targetUserNo}
    </update>

    <update id="userUnLock">
        UPDATE user_project
        SET `lock`=0
        WHERE user_no=#{targetUserNo}
    </update>

    <update id="userLockToggle">
        UPDATE user_project
        <set>
            <if test="locked==0">
                `lock`=1
            </if>
            <if test="locked==1">
                `lock`=0
            </if>
        </set>
        WHERE user_no=#{targetUserNo}
    </update>
    <select id="checkLocked">
        SELECT `lock`
        FROM user_project
        WHERE user_no=#{targetUserNo}
        AND project_no=#{projectNo}
    </select>

    <insert id="insUserProjectList">
        INSERT INTO user_project
        (user_no, project_no)
        VALUES
        <foreach collection="insertUserNoList" item="userNo" separator=",">
            (#{userNo}, #{projectNo})
        </foreach>
    </insert>

    <delete id="delUserProjectList">
        DELETE FROM user_project
        WHERE project_no = #{projectNo}
        AND user_no IN
        <foreach collection="deleteUserNoList" item="userNo" separator="," open="(" close=")">
            #{userNo}
        </foreach>
    </delete>
</mapper>