<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project_1.schedule.ScheduleMapper">

    <select id="scheduleDetail">
        SELECT A.content, A.detail, A.cheked, A.created_at AS createdAt
        , C.nickname AS userNickname, C.profile_pic AS userProfilePic
        FROM schedule A
        INNER JOIN user_project B
        ON B.user_project_no=A.user_project_no
        INNER JOIN user C
        ON B.user_no=C.user_no
        WHERE A.schedule_no=#{scheduleNo}
    </select>

    <insert id="scheduleAdd" useGeneratedKeys="true" keyProperty="scheduleNo">
        INSERT INTO schedule
        SET content=#{content}
        , user_project_no = (
        SELECT A.user_project_no FROM user_project A
        WHERE user_no=#{scheduleUserNo}
        AND project_no=#{projectNo})
        <if test="detail != null and detail != ''">
        , detail=#{detail}
        </if>
    </insert>

    <select id="getCheked">
        SELECT A.cheked
        FROM schedule A
        WHERE schedule_no=#{scheduleNo}
    </select>

    <update id="scheduleComplete">
        UPDATE schedule
        <set>
            <if test="cheked==0">
                cheked=1
            </if>
            <if test="cheked==1">
                cheked=0
            </if>
        </set>
        WHERE schedule_no=#{scheduleNo}
    </update>


    <update id="scheduleUpdate">
        UPDATE schedule
        SET
        user_project_no = (
        SELECT A.user_project_no FROM user_project A
        WHERE user_no=#{scheduleUserNo}
        AND project_no=#{projectNo})
        <if test="content != null and content != ''">
            , content = #{content}
        </if>
        <if test="detail != null and content != ''">
            , detail = #{detail}
        </if>
        WHERE schedule_no=#{scheduleNo}
    </update>

    <delete id="scheduleDelete">
        DELETE FROM schedule
        WHERE schedule_no=#{scheduleNo}
    </delete>

</mapper>