<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project_1.schedule.ScheduleMapper">

    <select id="scheduleDetail">
        SELECT A.content, A.detail, A.cheked, A.created_at AS createdAt
        , B.nickname AS userNickname, B.profile_pic AS userProfilePic
        FROM schedule A
        INNER JOIN user B
        ON A.user_no=B.user_no
        INNER JOIN project C
        ON C.project_no=A.project_no
        WHERE A.schedule_no=#{scheduleNo}
    </select>

    <insert id="scheduleAdd" useGeneratedKeys="true" keyProperty="scheduleNo">
        INSERT INTO schedule
        set user_no=#{scheduleUserNo}
        , project_no=#{projectNo}
        , content=#{content}
        , detail=#{detail}
    </insert>

    <select id="getCheked">
        SELECT cheked
        FROM schedule
        WHERE schedule_no=#{scheduleNo}
    </select>

    <update id="scheduleComplete">
        UPDATE schedule
        <set>
            <if test="cheked==0">
                cheked=1
            </if>
            <if test="cheked==1">
                cheked=0
            </if>
        </set>
        WHERE schedule_no=#{scheduleNo}
    </update>


    <update id="scheduleUpdate">
        UPDATE schedule
        SET
        user_no=#{scheduleUserNo}
        <if test="content != null and content != ''">
            , content = #{content}
        </if>
        <if test="detail != null and content != ''">
            , detail = #{detail}
        </if>
        WHERE schedule_no=#{scheduleNo}
    </update>

    <delete id="scheduleDelete">
        DELETE FROM schedule
        WHERE schedule_no=#{scheduleNo}
    </delete>

</mapper>