<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project_1.user.UserMapper">
    <select id="leaderNo">
        SELECT leader_no
        FROM project
        WHERE project_no=#{projectNo}
    </select>
    <select id="scheduleUserNoFromSchedule">
        SELECT user_no
        FROM schedule A
        INNER JOIN user_project B
        ON B.user_project_no=A.user_project_no
        WHERE schedule_no=#{scheduleNo}
    </select>
</mapper>